Python Basics

In [1]:
4%2

0

In [4]:
8//3

2

In [5]:
type(4/2)

float

In [7]:
type('k')

str

In [9]:
a=10
b=30
c=a+b
c

40

In [16]:
a+b>40 | a-b<10

True

In [3]:
#Strings
str1="This is a string"
str1

'This is a string'

In [1]:
str3="a good boy"
str4="a bad boy"
print(str3)
print(str4)

a good boy
a bad boy

In [2]:
print(str3)
print(str4)

a good boy
a bad boy

In [3]:
str3+str4

'a good boya bad boy'

In [5]:
str3 +", "+ str4

'a good boy, a bad boy'

In [8]:
name=input("Enter your Name? ")
print(name)
print("my name is : ", name)

Enter your Name? Sreeni
Sreeni
my name is :  Sreeni

In [14]:
### Add 2 numbers
a=float(input("Enter number 1?"))
b=int(input("Enter number 2?"))
c=a+b
print("Out put of adding two numbers is : ", c)

Enter number 1?10
Enter number 2?20
Out put of adding two numbers is :  30.0

In [19]:
### String Formatting
First_Name=input("Enter your First Name - ")
Last_Name=input("Enter your Last Name - ")
print("My First Name is {firstName} and My Last Name is {lastName}" .format(lastName=Last_Name,firstName=First_Name))

Enter your First Name - Sreeni
Enter your Last Name - Nookala
My First Name is Sreeni and My Last Name is Nookala

Variable Dynamic Typing

In [23]:
### Strong Typing
1+int("2")

3

In [28]:
### Conditional Statement
## if and elif
a=int(input("Enter the number 1 : "))
b=int(input("Enter the number 2 : "))
c=a-b
if c<0:
    print("C value is {CNumber}. So, the number is negative" .format(CNumber=c))
elif c>40:
    print("C value is {CNumber}. The number is greater than 40" .format(CNumber=c))
else:
    print("C value is {CNumber}. So, the number is positive" .format(CNumber=c))

Enter the number 1 : 100
Enter the number 2 : 90
C value is 10. So, the number is positive

### Data Structures
1. list
2. tuple
3. string
4. Dictionary
5. Sets

In [29]:
lst=[1,2,3,"Sreeni","Nookala"]

In [30]:
lst

[1, 2, 3, 'Sreeni', 'Nookala']

In [31]:
lst[3]

'Sreeni'

In [33]:
type(lst[3])

list

In [34]:
type(lst)

list

In [35]:
lst.append("Siri")

In [36]:
lst

[1, 2, 3, 'Sreeni', 'Nookala', 'Siri']

In [38]:
lst.append("Sahu")

In [39]:
lst

[1, 2, 3, 'Sreeni', 'Nookala', 'Siri', 'Sahu']

In [40]:
lst.append("Sat")

In [41]:
lst

[1, 2, 3, 'Sreeni', 'Nookala', 'Siri', 'Sahu', 'Sat']

In [42]:
lst[2]="Training"
print(lst[2])

Training

In [43]:
lst

[1, 2, 'Training', 'Sreeni', 'Nookala', 'Siri', 'Sahu', 'Sat']

In [44]:
lst.count("Sreeni")

1

In [45]:
lst.append("Nookala")

In [46]:
lst.count("Nookala")

2

In [47]:
### Indexing
name= "Sreeni"
name[4]

'n'